body {
  max-width: 1000px;
  margin: auto;
}
header{
    text-align: center;
}
section {
  padding: 50px 20px;
}
nav{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
nav a:hover{
    background-color: gray;
}
.hero{
    text-align: center;
}
a{
    text-decoration: none;
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
a:hover{
    background-color: gray;
}
.courses{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    margin: 10px;
    border: solid black 3px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
@media (max-width:768px) {
    nav{
        align-items: center;
        flex-direction: column;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width:90%;
    }
    input,textarea{
        width: 100%;
    }
    
}
.card:hover{
    transform:scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.color{
    background-color: black;
    color: white;
}
.add{
    border:none;
    background-color: black;
    display: inline-block;
    border-radius: 20px;
    color: white;
    padding: 10px;

}
form{
    padding: 15px;
    text-align: center;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: solid black;
}
.click{
    display: inline-block;
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.click:hover{
    background-color: gray;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
}